* {
  box-sizing: border-box;
  text-align: center;
  cursor: url(store/sausage-no-background.png), auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  cursor: url(../images/sausage-resize.png), auto;
}

.feed, .boom-head, .win-head {
  color: red;
  margin-top: 250px;
  font-size: 80px;
}

.lose {
  margin-top: 40px;
}

.lose-head {
  color: red;
  font-size: 80px;
}

.feed-text, .boom-text, .lose-text, .win-text, .target {
  color: white;
  margin: 20px;
  font-size: 25px;
}

.enter {
  margin: 20px;
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}

.score-board {
  color: white;
  float: left;
  text-align: center;
  margin: 40px 40px 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

.score {
  color: white;
}

heading {
  display: inline-block;
  color: white;
  margin: 30px auto 0;
  font-size: 40px;
  padding-bottom: 20px;
}

.timer {
  color: white;
  float: right;
  margin: 40px 40px 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

ul {
  clear: both;
  margin: 20px auto 10px;
}

li {
  float: left;
  width: 20%;
  height: 170px;
}

.selected {
  background-image: url(../images/rsz_littlemonster.png);
  background-repeat: no-repeat;
  background-size: cover;
}
