* {
  box-sizing: border-box;
  text-align: center;
  cursor: url(store/sausage-no-background.png), auto;
  background: black;
}

.feed, .boom-head, .lose-head, .win-head {
  color: red;
  margin-top: 100px;
  font-size: 80px;
}

.feed-text, .boom-text, .lose-text, .win-text {
  color: white;
  margin: 20px;
  font-size: 25px;
}

.enter {
  margin: 20px;
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}

.score-board {
  background-color: white;
  float: left;
  text-align: center;
  margin: 40px 40px 10px;
  font-size: 30px;
}

.score {
  background-color: white;
}

heading {
  display: inline-block;
  background-color: white;
  margin: 30px auto 0;
  font-size: 40px;
}

.timer {
  background-color: white;
  float: right;
  margin: 40px 40px 10px;
  font-size: 30px;
}
.start {
  display: block;
  clear: both;
  margin: 0 auto 10px;
  background-color: red;
}

.main {
  background-color: white;
}

ul {
  /*background-color: white;*/
  clear: both;
  margin: 20px auto;
}

li {
  float: left;
  width: 20%;
  height: 180px;
  background-color: black;
}

.selected {
  background-color: yellow;
}
