
h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 40px;
}

ul {
  margin: 20px auto;
  width: 400px;
  height: 400px;
  background-color: red;
}

li {
  background-color: blue;
  float: left;
  width: 198px;
  height: 198px;
  margin-right: 2px;
  margin-top: 2px;
}

.selected {
  background-color: yellow;
}
.score-board {
  margin: 10px auto;
  font-size: 20px;
}
