* {
  box-sizing: border-box;
  text-align: center;
  /*cursor: url(store/sausage-no-background.png), auto;*/
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  cursor: url(../images/sausage-resize.png), auto;
}

.feed {
  color: red;
  margin-top: 250px;
  font-size: 120px;
  font-family: 'Creepster', cursive;
}

.boom {
  margin-top: 40px;
}

.lose {
  margin-top: 100px;
}

.lose-head {
  font-family: 'Creepster', cursive;
  color: red;
  font-size: 80px;
}

.win {
  margin-top: 120px;
}

.win-head {
  color: red;
  margin-top: 20px;
  font-size: 120px;
  font-family: 'Creepster', cursive;
}

.feed-text, .boom-text, .lose-text, .again {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  margin: 20px;
  font-size: 25px;
}

.target {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  margin: 20px;
  font-size: 35px;
}

.enter {
  font-family: 'Ropa Sans', sans-serif;
  margin: 20px;
  font-size: 30px;
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}

.score-board {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  float: left;
  text-align: center;
  margin: 40px 40px 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

.score {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
}

heading {
  font-family: 'Creepster', cursive;
  display: inline-block;
  color: white;
  margin: 30px auto 0;
  font-size: 40px;
  padding-bottom: 20px;
}

.timer {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  float: right;
  margin: 40px 40px 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

ul {
  clear: both;
  margin: 20px auto 10px;
}

li {
  float: left;
  width: 20%;
  height: 220px;
}

.selected {
  background-image: url(../images/rsz_littlemonster.png);
  background-repeat: no-repeat;
  background-size: cover;
}
